.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}
